@import "./article_list.css";

a:hover{
	color: #018f69;
}

.top-box{
	margin-top: 10px;
	width:100%;
	box-sizing: border-box;
	padding: 0 16px 16px 16px;
	height:382px;
	display: flex;
	justify-content:center;
	position: relative;
}
.top-box-line{
	height: 1px;
	margin: 10px 36px;
	background: #dcdcdc;
}
.big-article_item{

}
.big-article_item img{
	width:100%;
	height:150px;
	background-position: 50% 50%;
	margin-bottom: 16px;
}
.big-article_content{
	margin-left: 13px;
}
.big-article_title{
	line-height: 1.2;
	display: block;
	font-weight: 600;
	font-size:26px;
	color:rgba(0,0,0,.84);
	margin-bottom: 8px;
}
.big-article_desc{
	display: block;
	font-size:16px;
	line-height: 1.2;
	color:rgba(0,0,0,.54);
	margin-bottom: 22px;
	max-height: 40px;
	overflow: hidden;
}
.common-article_box{
	margin-top:12px;
}
.common-article_author{
	display: block;
	margin-top:12px;
	font-size: 13px;
	line-height: 20px;
	color:rgba(0,0,0,.84);
}
.common-article_ext{
	font-size: 13px;
	color:rgba(0,0,0,.54);
}
.article-box{
	justify-content: space-between;
	flex-direction: column;
	display: flex;
}

.small-article_item{
	display: flex;
    flex: 1;
    flex-direction: row;
}
.small-article_item img{
	width:100px;
	height: 100px;	
}
.small-article_content{
	margin-left: 24px;
	max-width: 250px;
}
.small-article_title{
	line-height: 1.2;
	display: block;
	font-weight: 600;
	font-size:16px;
	color:rgba(0,0,0,.84);
	margin-bottom: 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.small-article_desc{
	display: block;
	font-size:14px;
	line-height: 1.2;
	color:rgba(0,0,0,.54);
	margin-bottom: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.common-article_item{
	
}
.common-article_item img{
	width: 100%;
	height:150px;
	margin-bottom: 16px;
}
.common-article_content{
	
}
.common-article_title{
	line-height: 1.2;
	display: block;
	font-weight: 600;
	font-size:19px;
	color:rgba(0,0,0,.84);
	margin-bottom: 8px;
}
.common-article_desc{
	display: block;
	font-size:16px;
	line-height: 1.2;
	color:rgba(0,0,0,.54);
	margin-bottom: 22px;
}
.catagory-box{
	display: flex;
	justify-content: center;
	padding-top: 30px;
}
